<%- include('./partials/header') %>
<div class="list-cont">
    <% if (goalsList.length === 0) { %>
        <div class="list-box">No goals added :(</div>
    <% } else { %>
        <% goalsList.forEach(goal => { %>
            <form action="/completed" method="post">
                <div class="list-box">
                    <input type="radio" name="radio" class="checkbox" onChange="this.form.submit()" value="<%= goal._id %>" >
                    <div>
                        <h3>Goal : <%= goal.name %></h3>
                        <h4>Time : <%= goal.time %></h4>    
                    </div>
                </div>
            </form>
        <% }) %>
    <% } %>
</div>
<%- include('./partials/footer') %>